.btn {
    border: 1px solid $PRIMARY;
    color: $PRIMARY;
    display: inline-block;
    text-transform: uppercase;
    font-family: Bebas Neue;
    transition: all .8s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $PRIMARY 50%);
    text-decoration: none;
    font-weight: 100;
    font-size: 1.6rem;
    padding: 1rem 4rem;
    background-size: 240%;

    &:hover {
        // background-color: $PRIMARY;
        color: $BACKGROUND_PRIMARY;
        background-position: 100%;
        // transform: translateX(1rem);
    }
}