$BACKGROUND_PRIMARY:#0F111D;
$BACKGROUND_SECONDARY: #292B37;
$PRIMARY: white;
$SECONDARY: #5A5D65;
$GOLD: #F7DA2B;
$RED: #E82627;
$BACKGROUND_PRIMARY_75: #0F111DBF;
$BACKGROUND_PRIMARY_35: #0F111D59;
$BACKGROUND_DARK: #000;